<header class="header-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <div class="profile-image">
          <i class="fas fa-user-circle fa-8x text-white"></i>
        </div>
      </div>
      <div class="col-md-9">
        <div class="header-info">
          <h1 class="name">{{ nome }}</h1>
          <h2 class="title">{{ cargo }}</h2>
          <p class="location">
            <i class="fas fa-map-marker-alt"></i>
            {{ localizacao }}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
